<section
  class="container-fluid justify-content-center add-task-container px-3 mx-auto mt-4"
>
  <ng-template [ngIf]="todoData.length" [ngIfElse]="noTodoData">
    <form (submit)="deleteButtonHandler()">
      <ul class="list-group mb-4">
        <ng-template
          ngFor
          let-todoItem
          [ngForOf]="todoData"
          let-i="index"
          [ngForTrackBy]="trackByTodoId"
        >
          <app-task-list-item [taskId]="todoItem.id" [taskData]="todoItem.task" (emitDelete)="deleteSingle($event)" (emitCheck)="checkTaskHandler($event)" (emitUncheck)="uncheckTaskHandler($event)" ></app-task-list-item>
        </ng-template> 
      </ul>
      <button class="btn btn-danger" type="submit">Delete</button>
    </form>
  </ng-template>
  <ng-template #noTodoData>
    <div class="position-relative d-flex justify-content-center">
      <img src="../assets/not-found.jpg" alt="No Task Found">
    </div>
  </ng-template>
</section>

